
/* Navbar container */
.navBar {
    overflow: hidden;
    background-color: #386FA4;
    font-family: Arial;
    display: flex;
    justify-content: space-evenly;
    margin: auto; 
  }
  
  /* Link text inside the navbar */
  .navBar a {
    float: left;
    font-size: 20px;
    color: #59A5D8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Add a background color to navbar links on hover */
  .navBar a:hover,
  .dropdown:hover,
  .dropbtn {
    background-color: #386FA4;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button text */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #91E5F6;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #133C55;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Link text inside the dropdown */
  .dropdown-content a {
    font-size: 16px;
    float: none;
    color: #91E5F6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Add a background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #59A5D8;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  